{% extends 'base.html.twig' %}

{% block title %}contact{% endblock %}

{% block body %}
    <h1>feel free to contact us !</h1>
    <div class="container">
    <p>Contact us by sending a message</p>
       <ul>
              <li><email:>senga.ds@gmail.com</email:>
                <li><phone:>0788888888</phone:>
         </ul>
         
    </div>

{% endblock %}
